.movie-card {
  @apply w-full p-[10%];
  cursor: pointer;
  border-radius: 2%;
  box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;

  &__poster {
    @apply w-full;

    img {
      @apply min-w-full h-60 object-cover;
    }
  }

  &__descriptor {
    @apply w-full h-28 py-3 px-2;

    &-title {
      @apply h-[3.75rem];
    }
  }
}
