<div class="movie-list">
  <div class="flex flex-wrap items-center justify-between">
    <mat-slide-toggle class="text-lg text-white" color="primary" (change)="switchFilter($event)">Filter movies</mat-slide-toggle>
    <a [routerLink]="'/movies/' + 0" class="text-lg text-white" mat-raised-button color="primary" >
      Create movie
    </a>
  </div>
  <div *ngIf="showFilter | async" class="movie-list__filter">
    <form [formGroup]="movieListForm" class="movie-list__form">
      <mat-form-field appearance="fill" class="movie-list__form_input">
        <mat-label>Title</mat-label>
        <input type="input" matInput formControlName="title" minlength="3">
        <mat-error *ngIf="movieListForm.controls['title'].hasError('minlength')">
          Minimum 3 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="movie-list__form_input">
        <mat-label>Genre</mat-label>
        <mat-select formControlName="genre">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let genre of genres" [value]="genre">
            {{ genre }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="movie-list__form_input">
        <mat-label>Director</mat-label>
        <input type="input" matInput formControlName="director" minlength="3">
        <mat-error *ngIf="movieListForm.controls['director'].hasError('minlength')">
          Minimum 3 characters
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="movie-list__form_input">
        <mat-label>Release year</mat-label>
        <mat-select formControlName="releaseYear">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let releaseYearRange of releaseYearRanges" [value]="releaseYearRange">
            {{ releaseYearRange }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field appearance="fill" class="movie-list__form_input">
        <mat-label>Studio</mat-label>
        <input type="input" matInput formControlName="studio" minlength="3">
        <mat-error *ngIf="movieListForm.controls['studio'].hasError('minlength')">
          Minimum 3 characters
        </mat-error>
      </mat-form-field>
    </form>
    <div class="movie-list__filter-btn">
      <button
        mat-raised-button
        color="primary"
        class="text-lg"
        [disabled]="movieListForm.invalid"
        (click)="filterMovies()"
      >Filter</button>
    </div>
  </div>
</div>
<app-pagination [listItems$]="movies$" (pageElements)="handlePage($event)"></app-pagination>
<div class="movie-list__sorting">
  <p class="text-white">Sort by:</p>
  <app-sorting-button
    label="Title"
    sortingProp="title"
    [sortedProp]="movieHandlerSvc.sortedProp"
    (sortType)="sortBy('title', $event)"
  ></app-sorting-button>
  <app-sorting-button
    label="Release year"
    sortingProp="releaseYear"
    [sortedProp]="movieHandlerSvc.sortedProp"
    (sortType)="sortBy('releaseYear', $event)"
  ></app-sorting-button>
</div>
<div class="flex flex-wrap gap-12">
  <app-movie-card
    class="movie-list__card flex"
    [movie]="item"
    *ngFor="let item of pagenatedList"
  ></app-movie-card>
</div>
