<nav class="navigation bg-gradient-to-r from-slate-500 via-slate-400 to-slate-500">
  <div>
    <button mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
  </div>
  <div class="navigation__brand">
    <a routerLink="/">{{ appName }}</a>
  </div>
  <div>
    <ul class="navigation__list flex items-center gap-4">
      <li *ngFor="let item of menuItems">
        <a
          class="navigation__links"
          [routerLink]="item.link"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
          >{{ item.text }}</a
        >
      </li>
    </ul>
  </div>
</nav>
